h1 {
    font-family: sans-serif;
    color: black;
    font-size: 45px;
    padding-top: 20px;
    padding-left: 40px;
    margin-bottom: 0;
}

.link-black {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-decoration: none;
}

.link-green {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: limegreen;
    color: black;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-decoration: none;
}

.header {
    background-color: darkgray;
    height: 130px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -30px;
    margin-bottom: 20px;
}

#in-button {
    margin-right: -4px;
    background-color: white;
    color: black;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 4px;
    border: 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#out-button {
    background-color: limegreen;
    color: black;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 4px;
    border: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.control-buttons {
    margin-top: -50px;
    float: right;
}

#log-button {
    margin-right: -4px;
    background-color: white;
    color: black;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 4px;
    border: 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.login-button {
    float: right;
    margin-top: -24px;
    margin-right: 35px;
}

.my-flex-container {
    margin-left: 25px;
    display: flex;
    margin-bottom: 0;
    height: 24px;
}

.my-flex-block {
    width: 120px;
    height: 20px;
}

.all-buttons {
    margin-right: 20px;
    margin-top: -22px;
    margin-bottom: 56px;
    float: top;
}

.search {
    display: flex;
    margin-right: 20px;
    margin-top: -20px;
    float: right;
}

#search-bar {
    margin-right: 0;
    border-radius: 8px;
    border: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#search-button {
    margin-left: 0;
    background-color: limegreen;
    color: black;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px;
}

.news-feed {
    margin-top: -40px;
    align-content: center;
    align-self: center;
}

.short-text {
    margin-left: 170px;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 400px;
}

.head-short-news {
    max-width: 550px;
    margin-top: -20px;
    margin-bottom: 0;
}

img {
    width: 150px;
    height: 100px;
}

.short-news {
    margin-top: 60px;
    margin-left: 30%;
}

hr {
    margin-left: 0;
    width: 600px;
}

footer {
    margin-left: 10px;
    margin-top: 0;
}

.delete {
    margin-bottom: 0;
    margin-left: 380px;
}

.readMore {
    margin-left: 490px;
}

.sort {
    margin-bottom: 0;
    margin-left: 30%;
}

.select-sort {
    margin-left: 115px;
}

.navigation {
    margin-left: 30%;
}